body {
    background: url("../images/light-grey-terrazzo.png");
    font-family: 'Titillium Web', sans-serif;

}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

footer {
    font-size: .75em;
    color: #cccccc;
    background-color: #666666;
    padding: 20px 0px 0px 0px;
    border-top: 5px solid #cccccc;
}


/* nav */

#logo {
    font-family: 'Bungee Shade', cursive;
    color: #ffffff;
    background-color: #df7f99;
    font-size: 1.25em;
    padding: 20px;
}

ul li {
    line-height: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link {
    color: grey;
}


/* main content */

h2 {
    color: #666666;
    font-weight: bold;
}

h3 {
    color: #666666;
    text-decoration: underline;
}

p {
    line-height: 12px;
    color: #777777;
}

#main-content {
    background-color: #ffffff;
    border: .5px solid #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

/* main content - crystal collector */

#win-count {
    color: #75b99f;
}

#lose-count {
    color: #d26f8f;
}

.crystal-image {
    width: 12%;
    background-color: #ffffff;
    padding: 10px;
}

